* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header, footer {
    background-color: #fff;
    padding-top: 16px;
    color: #000;
}

    
header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1jjf;
}

header img {
    margin-left: -24%;
}

header>.container,
footer>.container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    padding-top: 6px;
}

header img {
    max-width: 170px;
    margin-right: 24px;
}

nav {
    background-color: #fff;
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #000;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #000;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
}


#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
    border-radius: 5%;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 26px;
    font-size: 36px;
}

.lista-veiculos {
    flex-wrap: wrap;
}

.lista-veiculos li strong {
    margin: 16px 0;
    display: block;
}

.lista-veiculos li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.lista-veiculos li h3 {
    margin: 16px 0;
}

.lista-veiculos li img {
    max-width: 100%;
}

.item-central {
    margin: 0 5%;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

.price {
    margin: 16px 0;
    display: block;
}

.price del {
    color: #ccc;
    font-size: 14px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo textarea {
    resize: none;
    height: 120px;
}

form {
    max-width: 360px;
}

form button {
    max-width: 120px;
}

footer {
    background-color: #000;
    color: #fff;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    height: 32px;
}

#bannerpromocional {
    background-color: #efefef;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    padding-top: 0;
    display: flex;
    }

    .news {
        
    }

    @media screen and (max-width: 767px) {
        .conteudo {
            display: block;
        }
    
        .container {
            max-width: 90%;
        }
        
        .destaque .noticia a {
            display: block;
            font-size: 1.5em;
        }
        
        .destaque .noticia img {
            margin-right: 0px;
        }
    
        .noticias {
            display: block;
            grid-template-columns: repeat(3, 32.6%);
            column-gap: 1%;
            row-gap: 5%
        }
    
        .noticias .noticia {
            margin-bottom: 32px;
        }
    
        aside {
            padding-left: 0;
        }
    
        header div.container {
            flex-direction: column;
        }
    
        .submenu {
            display: block;
            width: 100%;
            position: relative;
            border: none;
        }
        
        .menu {
            display: none;
        }
    
        .menu > li {
            clear: both;
        }
        
        .submenu li {
            display: block;
            padding: 8px;
        }
        
        .botao-menu {
            display: flex;
            justify-content: center;
            margin-top: 16px;
            padding-top: 16px;
        }
    
        .botao-menu button {
            padding: 8px;
        }
        }
    
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .container {
            max-width: 90%;
        }
    
        .botao-menu {
            display: none;
        }
    
        .destaque .noticia a {
            font-size: 1.5em;
        }
    
        .noticias {
            grid-template-columns: repeat(2, 49%);
        }
    }
    
    @media screen  and (min-width: 1024px) {
        .botao-menu {
            display: none;
        }
    }
